//- alunos.pug
extends includes/layout.pug

block content
    h1.welcome-message DISCENTES DA UMA

    section.table
        section.table__line.table__header
            p Nome
            p CPF
            p Telefone
            p Cidade
            p Escolaridade

        each aluno in alunos 
            section.table__line
                p #{aluno.nome}
                p #{aluno.cpf}
                p #{aluno.telefone}
                p #{aluno.cidade}
                p #{aluno.escolaridade}
                a(class="icons-col" href="/atualizar_aluno/"+ aluno.cpf)
                    img(src="img/icons-edit-30.png" alt="edit icon")